#container{
  background: whitesmoke;
  >.head{
    >.choose-file{

    }
    >.choose-folder{

    }
    >.input{

    }
    >.output{

    }
  }
  >.body{
    QTableWidget{
      background: white;
      border: 1px solid;
      border-radius: 0;
      .choose{
      }
      .input{
        color: black;
        margin: 0 20px;
      }
      .output{
        color: black;
        margin: 0 20px;
      }
      .status{
        border-radius: 5px;
        background: #00dc4f;
        &[status=warn]{
          background: #d7ab34;
        }
      }
    }
  }
  >.footer{
    >.choose{

    }
    >.remove{
      background: gray;
      &[available=t]{
        background: #ff3d3d;
      }
    }
    >.do{
      background: gray;
      &[available=t]{
        background: #0073ff;
      }
    }
  }
}