#container{
  background: #e7e7e7;
  >.head{
    QLineEdit{
      color: black;
      background: #ffffff;
      border: 1px solid black;
      padding: 4px 8px;
    }
    QLabel{
      color: black;
    }
    >.input{
    }
    >.output{
    }
  }
  >.body{
    QTableWidget{
      background: white;
      border: 1px solid gray;
      border-radius: 0;
      margin: 10px;
      QHeaderView{
        background: transparent;
      }
      QHeaderView:section{
        text-align:center;
        background: #2f2f2f;
        margin:0px;
        color:#DCDCDC;
      }
      .choose{
      }
      .input, .output{
        color: black;
        margin: 0 20px;
        font-weight: bold;
      }
      .status{
        border-radius: 5px;
        background: #00dc4f;
        &[status=warn]{
          background: #d7ab34;
        }
        &[status=exist]{
          background: #d02323;
        }
      }
    }
  }
  >.footer{
    >.choose{

    }
    >.remove{
      background: gray;
      &[available=t]{
        background: #ff3d3d;
      }
    }
    >.do{
      background: gray;
      &[available=t]{
        background: #0073ff;
      }
    }
  }
}