QMenuBar{
  background: white;
  border-bottom: 1px solid #a8a8a8;
  color: black;
  &:item:selected{
    background: #358dff;
    color: white;
  }
  QMenu{
    background-color: #f3f3f3;
    border: 1px solid gray;
    color: #000000;
    padding: 1px;

    &:item {
      padding: 2px 25px 2px 20px;
      border: 1px solid transparent;

      &:disabled {
        color: #666666;
      }
      &:checked, &:unchecked{
        padding: 2px 25px 2px 5px;
      }

      &:enabled:selected {
        border-color: gray;
        background: #90ffff;
      }
    }

    &:indicator {
      width: 13px;
      height: 13px;
      border: 1px solid black;
      &:checked{
        background: #ff6637;
      }
    }

  }
}