.body-file-row{
  &[state=not-change]{
    border-color: gray;
  }
  >.input{
    color: black;
  }
  >.output{
    color: black;
  }
  >.choose{
    border: 1px solid black;
    &[active=t]{
      background: red;
    }
  }
}